@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { width:100%; height:100%;overflow: auto;}

main { background-image: url('public/images/bg-intro-desktop.png');background-repeat: no-repeat; }

input { @apply border border-grayish-blue focus:border-blue caret-blue p-4 rounded-md outline-0 font-medium md:text-base; }
.box-shadow { box-shadow: 0 7px 0 0 rgb(0 0 0 / 25%); }
.button-box-shadow { box-shadow: 0 4px rgb(48 172 119); }
.error { @apply border-2 border-red; }